---
import Layout from "../layouts/Layout.astro";
import AboutIntro from "../../generated/about_intro.md";
---

<Layout title="About Starstuck Lab">
  <section>
    <AboutIntro />
  </section>
  <section>
  <p id="about-intro">Loading introduction…</p>
  <script is:inline type="module">
  import '/scripts/mood.js';
  import { attachGenerated } from '/scripts/render-generated.js';
  attachGenerated('#about-intro', '/data/about_intro.json');
</script>
</section>
</Layout>




