---
import Layout from "../layouts/Layout.astro";
import AboutIntro from "../../generated/about_intro.md";
---

<Layout title="About Starstuck Lab">
  <section>
    <AboutIntro />
  </section>
</Layout>


