---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Contact">
  <h1>Contact the Lab</h1>
  <p>
    If you have questions, comments, or existential queries, you can reach us at:<br />
    <strong>contact@starstucklab.com</strong>
  </p>
  <p>
    <em>Response time:</em> somewhere between “immediate” and “heat death of the universe.”
  </p>
</Layout>

