---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Projects">
  <h1>Projects in Progress (or Perpetual Limbo)</h1>
  <ul>
    <li>3D Printed Hadley-style Telescope Variant</li>
    <li>Weather Station – handheld and LoRa network editions</li>
    <li>Smart Lighting Controller (and mood destabilizer)</li>
    <li>Digital Finderscope (embedded stargazer)</li>
    <li>Dome Hubs (for geometric dwellers)</li>
  </ul>
  <blockquote>“Some projects are ready to ship. Others are ready to explode. Both are part of the journey.”</blockquote>
</Layout>

