---
// site/src/components/Navbar.astro
// Shared navigation component (styles in navbar.css)
---
<div class="nav-inner">
  <a href="/" class="nav-logo">
    <img src="/assets/icons/starstucklab_logo_black_white.svg" alt="Starstuck Lab logo">
    <span>STARSTUCK LAB</span>
  </a>
  <ul class="nav-links">
    <li><a href="/#workbench">Workbench</a></li>
    <li><a href="/#projects">Projects</a></li>
    <li><a href="/shop">Shop</a></li>
    <li><a href="/#contact">Contact</a></li>
  </ul>
</div>